---
layout: layout.html
---

<article class="h-screen">
    <div class="w-[1080px] m-auto">
        {% include "hero.html" %}
    </div>
</article>
<article class="h-screen">
    <div class="w-[1080px] m-auto">
        {% include "about.html" %}
    </div>
</article>
<article class="h-screen">
    <div class="w-[1080px] m-auto">
        {% include "schedule.html" %}
    </div>
</article>
<article class="h-screen">
    <div class="w-[1080px] m-auto">
        {% include "partners.html" %}
    </div>
</article>
<article class="h-screen">
    <div class="w-[1080px] m-auto">
        {% include "faq.html" %}
    </div>
</article>

