<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title | default: "Galaxy Games Fest" }}</title>
		<link rel="stylesheet" href="/assets/css/styles.css">
	</head>
	<body class="bg-slate-950 text-emerald-50">
		<header>
			<div class="w-[1080px] m-auto flex justify-between">
				<h1>{{ title | default: "Galaxy Games Fest" }}</h1>
				<nav>
					<ul class="flex">
						<li>About</li>
						<li>Schedule</li>
						<li>Partners</li>
						<li>Faq</li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			{{ content }}
		</main>
		<footer>
			<div class="w-[1080px] m-auto flex justify-center">
				Galaxy Games Fest 2025
			</div>
		</footer>
	</body>
</html>