
{% assign partners = collections.partners[0] %}
{{ partners.templateContent }}

<br>

<div class="flex">
    <div class="flex-1">
        <img src="/src/img/redbull.png" class="px-4">
    </div>
    <div class="flex-1">
        <img src="/src/img/dalmar.png">
    </div>
    <div class="flex-1">
        <img src="/src/img/notion.png">
    </div>
</div>
<div class="flex">
    <div class="flex-1">
        <img src="/src/img/mqlogo_white.png" class="px-4">
    </div>
    <div class="flex-1">
        <img src="/src/img/msi.png">
    </div>
</div>
