{% assign schedule = collections.schedule[0] %}
{{ schedule.templateContent }}
<p></p>
<div class="flex">
        <div class="flex-1" style="display: flex; justify-content: center; gap: 0.5rem; align-items: center;">
            {% optImg "/src/img/mq_logo_profile_Black.png", "280,420", "", "loading=\"lazy\" fetchpriority=\"low\" style=\"width: 45%; height: auto;\"" %}
            {% optImg "/src/img/WICMQ_Logo_3.png", "280,420", "", "loading=\"lazy\" fetchpriority=\"low\" style=\"width: 45%; height: auto;\"" %}
        </div>
</div>
