@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: url("/src/font/Outfit.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Boldonse";
  src: url("/src/font/Boldonse.ttf") format("truetype");
  font-display: swap;
}

.border {
  border: none!important;
}

body {
  font-weight: 300;
}

h1 { font-size: 2em; }
h2 { font-size: 1em; }
h3 { font-size: 1em; }
h4 { font-size: 1em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; }

p {
  margin: 1em 0;
}

article {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}