---
title: Games
---

<div class="space-y-8">
    <div>{% include "games.html" %}</div>

    <!-- <div class="flex flex-col gap-8"> -->
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        {% for game in collections.game %}
        <div class="w-full flex flex-col md:flex-row justify-start items-center gap-1">
            <div>
                <div class="aspect-video w-full sm:w-32">
                    {% if game.data.thumbnail %}
                    {% thumb game.data.thumbnail, game.data.title %}
                    {% endif %}
                </div>
            </div>
            <div class="w-full flex flex-col justify-center text-center md:text-left p-2">
                <!-- <h2><a href="{{ game.url }}">{{ game.data.title }}</a></h2> -->
                 <a href="{{ game.url }}" class="m-0"><button class="m-0 px-4 py-2"><h2> {{ game.data.title }}</h2> </button></a>

                <h3 class="text-gray-500">{{ game.data.author }}</h3>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div>{% include "games2.html" %}</div>
</div>