---
title: Speakers
---

<div class="space-y-8">
    <div>{% include "speakers.html" %}</div>

    <div class="flex flex-col gap-8">
        {% for speaker in collections.speaker %}
        {% if speaker.data.name != "" %}
        <div class="w-full flex flex-col md:flex-row justify-start items-center gap-2">
            <div>
                <div class="aspect-square overflow-hidden w-32 h-32 m-auto">
                    {% if speaker.data.thumbnail %}
                    {% thumb speaker.data.thumbnail, speaker.data.name %}
                    {% endif %}
                </div>
            </div>
            <div class="w-full flex flex-col justify-center text-center md:text-left p-2">
                <!-- <h3><a href="{{ speaker.url }}">{{ speaker.data.name }}</a></h3> -->
                <!-- Make the spaaker's name a button to their individual page -->
                <a href="{{ speaker.url }}" class="m-0"><button class="m-0 px-4 py-2"><h3> {{ speaker.data.name }}</h3> </button></a>


                <h4>{{ speaker.data.company }}</h4>
                <div class="text-gray-500">
                <div>
                    {% if speaker.data.schedule_room_a %}
                    <span><h2><strong>Room A:</strong></h2>
                    {% for slot in speaker.data.schedule_room_a %}
                    {{ slot.time | sydneyTime }}: <em>{{ slot.title }}</em>{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                    </span>
                    {% endif %}
                </div>
    
                <div>
                    {% if speaker.data.schedule_room_b %}
                    <span>
                        <h2>
                            <strong>Room B:</strong>
                        </h2>
                    {% for slot in speaker.data.schedule_room_b %}
                    {{ slot.time | sydneyTime }}: <em>{{ slot.title }}</em>{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                    </span>
                    {% endif %}
                </div>
    
                <!-- <div>
                    {% if speaker.data.schedule_live_showcase %}
                    <span> Live Showcase:
                    {% for slot in speaker.data.schedule_live_showcase %}
                    {{ slot.time | sydneyTime }}: <em>{{ slot.title }}</em>{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                    </span>
                    {% endif %}
                </div> -->
                </div>
    
            </div>
        </div>
        {%endif%}
        {% endfor %}
    </div>
</div>
