---
title: Speakers
isLanding: true
---


<div class="flex justify-center mb-64">
    <div class="w-full md:w-1/2">
        <div class="bg-darkpurple border-borderpurple border-2 p-8 rounded mt-32 mb-8">
            <div>{% include "speakers.html" %}</div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            {% for speaker in collections.speaker %}
            <div class="flex flex-row gap-8">
                <div class="aspect-square rounded-full overflow-hidden w-32 bg-borderpurple">
                    {% if speaker.data.thumbnail %}
                    <img src="{{ speaker.data.thumbnail }}" alt="Thumbnail for {{ speaker.data.name }}" class="w-full h-full object-cover">
                    {% endif %}
                </div>
                <div class="flex flex-col justify-center w-full">
                    <h3><a href="{{ speaker.url }}">{{ speaker.data.name }}</a></h3>
                    <h4 class="text-sm text-gray-400">{{ speaker.data.company }}</h4>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
